.big-title{
  background-color: blue;
  color:white;
  border: 1px solid black;
  font-size:x-large;
  text-align: center;
  width: 100%;
}
.top-bar{
  padding:10px;
  background-color: lightblue;
  margin-top:42px;
  width: 50%;
  position: relative;
  left: 25%;
}
.p-title{
  font-size:xx-large;
  text-align:center;
}
.image-size{
  max-height: 205px;
  max-width: 137px;
}
.d-flex{
  display:flex;
  position:absolute;
  top: 32%;
  left: 78%;
}
.contain-flex{
  text-align: center;
  position:relative;
  width:45%;
  left: 27%;
}
.image-text{
  display:flex;
  position:absolute;
  top: 108%;
  left: 4%;
}
.footer{
  height:10%;
  width: 100%;
  border: 1px solid black;
  background-color:blue;
  position: absolute;
  bottom:0;

}